.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px;
  justify-content: center;
  z-index: 2;

  .c__ {
    &left,
    &center,
    &right {
      position: absolute;
      margin: 40px;
    }

    &left {
      left: 0;
      pointer-events: none;

      .wf {
        overflow: hidden;
      }
    }

    &center {
      .t__wrap {
        position: relative;
        width: fit-content;
        overflow: hidden;
        text-align: center;

        .sh-h {
          position: absolute;
          bottom: -0.5px;
          width: 100%;
          height: 2px;
        }
      }
    }

    &right {
      right: 0;

      .wf {
        @include d-flex(flex-end, center, column);

        position: relative;
        overflow: hidden;

        .lk__socmed {
          width: fit-content;
          cursor: pointer;

          a {
            width: 100%;
            text-align: right;
          }

          .sh-h {
            @include ease-quart(all, "in", 0.6s);

            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1.5px;
            transition-delay: -100ms;
          }

          &:hover .sh-h {
            @include ease-quart(all, "out", 0.6s);

            width: 100%;
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
