.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px;
  justify-content: space-between;

  .c__ {
    &left,
    &center,
    &right {
      margin: 0 40px;
    }

    &left {
      margin-left: 0;
      pointer-events: none;
    }

    &center {
      position: absolute;
      bottom: 40px;
    }

    &right {
      margin-right: 0;

      .text {
        @include d-flex(flex-end, center, column);

        .lk__socmed {
          position: relative;
          width: fit-content;
          overflow: hidden;
          cursor: pointer;

          a {
            width: 100%;
            color: $white;
            text-align: right;

            &::before {
              @include ease-quart("in", 0.6s);

              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 1.5px;
              background-color: $white;
              transition-delay: -100ms;
            }
          }

          &:hover a::before {
            @include ease-quart("out", 0.6s);

            width: 100%;
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
