.header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
  z-index: 2;

  .c__ {
    &left,
    &center,
    &right {
      margin: 0 40px;
    }

    &left {
      margin-left: 0;

      a {
        .t__logo {
          @include d-flex(flex-start, center, row);
          cursor: pointer;

          .stgr {
            font-size: 20px;
          }
        }
      }
    }

    &center {
      @include d-flex(center, space-around, row);

      margin: 0;
      width: fit-content;

      .sh-v {
        @include ease-quart("inOut", 0.4s);

        width: 2px;
        height: 20px;
        margin: 0 3px;
        opacity: 1;
        cursor: pointer;

        &:hover {
          @include ease-quart("inOut", 0.4s);

          width: 20px;
          border: 2px solid;
          background: transparent !important;
        }

        &--active {
          @include ease-quart("inOut", 0.4s);

          width: 40px;

          &:hover {
            width: 40px;
          }
        }
      }
    }

    &right {
      width: fit-content;
      margin-right: 0;

      .current {
        position: relative;
        width: 100%;
        overflow: hidden;

        .text {
          pointer-events: none;
        }

        .sh-h {
          position: absolute;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background-color: $white;
        }
      }
    }
  }
}
