.header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
  z-index: 2;

  .c__ {
    &left,
    &center,
    &right {
      margin: 0 40px;
    }

    &left {
      margin-left: 0;

      .t__logo {
        font-size: 20px;
      }
    }

    &center {
      .sh-v {
      }
    }

    &right {
      margin-right: 0;

      .current {
        .text {
        }
        .sh-h {
        }
      }
    }
  }
}
