.home {
  width: 100%;
  flex: 4;

  .m__center {
    width: 100%;
    height: 100%;
    justify-content: center;

    .ls {
      position: relative;

      img {
        pointer-events: none;
      }
    }
  }
}
