@mixin fl-wrap($opt) {
  @if $opt == column {
    flex-flow: column wrap;
  }
  @if $opt == row {
    flex-flow: row wrap;
  }
}

@mixin d-flex($align, $content, $flow) {
  display: flex;
  align-items: $align;
  justify-content: $content;
  @if $flow == column {
    @include fl-wrap(column);
  }
  @if $flow == row {
    @include fl-wrap(row);
  }
}

@mixin ease-quart($elem, $type, $d) {
  @if $type == "out" {
    transition: $elem $d cubic-bezier(0.25, 1, 0.5, 1);
  }
  @if $type == "in" {
    transition: $elem $d cubic-bezier(0.5, 0, 0.75, 0);
  }
  @if $type == "inOut" {
    transition: $elem $d cubic-bezier(0.76, 0, 0.24, 1);
  }
}
